// Variables
@primary: #760000;
@secondary: #fef9c0;
@gray: #b7b7b7;
@images: "../img";
//Mixins
.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.transition (@transition: all .3s ease-out) {
  transition: @transition;
  -moz-transition: @transition;
  -webkit-transition: @transition;
}
.transform (@transform) {
  transform: @transform;
  -moz-transform: @transform;
  -webkit-transform: @transform;
}
.box-shadow (@shadow) {
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}
div{
  &.anchorsWrapper{
    a{
      .transition(color .3s ease-out);
    }
  }
  &.sectionWrapper{
    &.leather{
      background: url("../img/bg-leather.jpg") top center no-repeat fixed;
      background-size: cover;
    }
  }
  &.uk-drop{
    width: fit-content;
  }
}
a{
  &.hoverIcon{
    &[aria-expanded="true"],
    &:hover{
      background-color: rgba(0, 0, 0, .1);
      .transition();
    }
  }
}




// Utilities
.uk-text-zero{font-size: 0;}
.hoverPrimary{
  &:hover{
    color: @primary !important;
  }
}

// UIKit Overrides
.uk-text-primary{
  color: @primary !important;
}
.uk-text-muted{
  color: @gray !important;
}