// Variables
@primary: #760000;
@secondary: #fef9c0;
@gray: #b7b7b7;
@gold: #a4946c;
@brown: #58402e;
@lightbrown: #9e8469;
@danger: #DC2626;
@success: #22C55E;
@images: "../img";
//Font
@font-face {
  font-family: "Pinar";
  src: url("../font/Pinar-VF[wght-KSHD-DSTY].woff2")
}
//Mixins
.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.transition (@transition) {
  transition: @transition;
  -moz-transition: @transition;
  -webkit-transition: @transition;
}
.transform (@transform) {
  transform: @transform;
  -moz-transform: @transform;
  -webkit-transform: @transform;
}
.box-shadow (@shadow) {
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}
body{
  &:not(.featured){
    background: url("@{images}/bg-main.jpg") center top repeat;
  }
}
div{
  &.hmWrapper{
    span{
      &.line{
        &.one{}
        &.two,
        &.three{
          content: '';
          position: absolute;
          height: 300%;
          top: 50%;
          width: 2px;
          background: linear-gradient(0deg,transparent 0, #eee 50%,transparent 100%);
          left: 50%;
          transform: translateX(-1px);
          -moz-transform: translateX(-1px);
        }
        &.two{
          -webkit-transform: translateY(-50%) rotate(60deg);
        }
        &.three{
          -webkit-transform: translateY(-50%) rotate(120deg);
        }
      }
    }
    &:before{
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      bottom: 0;
      width: 2px;
      background: linear-gradient(0deg, transparent 0%, #eee 50%, transparent 100%);
      left: 50%;
      .transform(translateX(-1px));
    }
  }
  &.homeMainWrapper{
    padding-top: 93px;
    padding-bottom: 94px;
  }
  &.anchorsWrapper{
    a{
      .transition(color .3s ease-out);
    }
  }
  &.sectionWrapper{
    &.leather,
    &.decor,
    &.style,
    &.jewelry{
      background: url("@{images}/bg-section.jpg") center no-repeat;
      background-size: cover;
    }
    &.leather{
      .whiteShade{
        width: 100%;
        left: 0;
        right: 0;
        height: 150px;
        bottom: 0;
        background: linear-gradient(transparent, #fff);
      }
    }
    &.decor{
      .whiteShade{
        width: 150px;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        background: linear-gradient(270deg, transparent, #fff);
      }
    }
    &.style{
      .whiteShade{
        width: 100%;
        left: 0;
        right: 0;
        height: 150px;
        top: 0;
        background: linear-gradient(#fff,transparent);
      }
    }
    &.jewelry{
      .whiteShade{
        width: 150px;
        top: 0;
        bottom: 0;
        height: 100%;
        right: 0;
        background: linear-gradient(270deg, #fff,transparent);
      }
    }
  }
  &.productWrapper{
    > div{
      .transition(box-shadow .3s ease-out);
      .listItemIMGContainer{
        &:before{
          content: '';
          position: absolute;
          left: 40px;
          right: 40px;
          height: 20px;
          bottom: -5px;
          background: radial-gradient(closest-side , rgba(0, 0, 0,.25), transparent);
        }
      }
      .listItemTitleSVG{
        a{
          color: #000;
          opacity: .2;
          transition: color .3s ease-out , opacity .3s ease-out;
        }
      }
      &:hover{
        .box-shadow(0 0 0 2px rgba(0, 0, 0, .2));
        .listItemTitleSVG{
          a{
            opacity: 1;
            color: @brown;
          }
        }
      }
    }
  }
  &.uk-drop{
    width: fit-content;
  }
  &#loginModal{
    > div{
      backdrop-filter: blur(10px);
      .loginWrapper{
        background-color: rgba(0, 0, 0, .7);
        div{
          &.seperator{
            background-color: #000;
            height: 2px;
          }
        }
      }
    }
  }
  &.cardFloatingLogo{
    .transform(translateY(-90px) translateX(40px));
    svg{
      &.text{
        .transform(translateY(-15px));
      }
    }
  }
  &.userMenu{
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        a{
          font-size: 14px;
          display: block;
          font-variation-settings: "wght" 600, "DSTY" 3, "KSHD" 120;
          color: @gold;
          padding: 10px 15px;
          text-decoration: none;
          .font;
          .border-radius(5px);
          .transition(all .3s ease-out);
          &:hover{
            background-color: rgba(0, 0, 0, .05);
            color: @primary;
          }
        }
        &.active{
          a{
            color: @primary;
          }
        }
      }
    }
  }
  &.userMenuDrop{
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right-color: @gold;
      border-bottom-color: @gold;
      .transform(translateY(-16px));
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 17px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right-color: #fff;
      border-bottom-color: #fff;
      .transform(translateY(-12px));
    }
  }
  &.alert{
    &.alert-warning{
      color: @danger;
    }
  }
  &.catEngTitleWrapper{
    .transform(translateY(15px));
  }
  &.shadow{
    position: absolute;
    bottom: 120px;
    left: 50%;
    height: 20px;
    width: 400px;
    background: radial-gradient(closest-side , rgba(0, 0, 0,.15), transparent);
    .transform(translateX(-50%));
  }
}
a{
  &.hoverIcon{
    &[aria-expanded="true"],
    &:hover{
      background-color: rgba(0, 0, 0, .1);
      .transition(all .3s ease-out);
    }
  }
}
svg{
  &.homeMain{
    > *{
      .transition(all .3s ease-out);
    }
    > *:not(g){
      fill-opacity: 0;
      stroke: #ddd;
      stroke-width: 2;
    }
    > g{
      fill: @primary;
    }
    &.leather{
      #triangleSmall{
        stroke: @primary;
      }
      > g{fill: #ddd;}
    }
    &.decor{
      #hexagon{
        stroke: @primary;
      }
      > g{fill: #ddd;}
    }
    &.style{
      #triangleBig{
        stroke: @primary;
      }
      > g{fill: #ddd;}
    }
    &.jewelry{
      #eye{
        stroke: @primary;
      }
      g#logoShape{
        fill: @primary;
      }
      > g#logoText{fill: #ddd;}
    }
  }
}

.hikashop_product_price_full{
  font-variation-settings: "wght" 600, "DSTY" 3, "KSHD" 150;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}
.sectionTitle{
  font-size: 16px;
  font-variation-settings: "wght" 600;
}
.qtySelect{
  width: 70px;
}
.userName{
  font-variation-settings: "wght" 600;
}
hr{
  &.productSingleSep{
    border-color: @brown;
  }
}
span{
  &.avatar{
    top: 0;
    left: 50%;
    .transform(translateY(-50%) translateX(-50%));
  }
  &.catEngTitle{
    font-size: 2em;
  }
}

// Utilities
::selection{background-color: @primary}
img{image-rendering: optimizequality;image-rendering: -webkit-optimize-contrast;}
.f500{font-variation-settings: "wght" 500;}
.f600{font-variation-settings: "wght" 600;}
.f700{font-variation-settings: "wght" 700;}
.f800{font-variation-settings: "wght" 800;}
.f900{font-variation-settings: "wght" 900;}
.ltr{direction: ltr;}
.font{font-family: "Pinar", sans-serif}
.fontEn{font-family: 'Montserrat', sans-serif;}
.noBorder{border: none;}
.uk-text-zero{font-size: 0;}
.uk-text-tiny{font-size: 12px;}
.uk-text-white{color: #fff;}
.uk-text-lightBrown{color: @lightbrown;}
.uk-text-brown{color: @brown;}
.uk-text-error,
.uk-text-danger{color: @danger;}
.uk-text-gold{color: @gold;}
.uk-text-line-through{text-decoration: line-through;}
.uk-background-transparent{background-color: transparent;}
.hoverPrimary{
  &:hover{
    color: @primary !important;
  }
}
.hoverGold{
  &:hover{
    color: @gold !important;
  }
}

// UIKit Overrides
.uk-checkbox,
.uk-radio{
  &:checked,
  &:indeterminate{
    background-color: @gold !important;
    border-color: @gold !important;
  }
}
.uk-checkbox{
  &:focus{
    border-color: @gold !important;
  }
}
.uk-table{
  th{
    font-size: 12px;
    padding: 10px;
    .font;
  }
}
.uk-card{
  &.uk-card-bordered{
    border: 2px solid @gold;
  }
  .floatingLogo{
    padding-top: 80px;
  }
}
.uk-text-primary{
  color: @primary !important;
}
.uk-text-muted{
  color: @gray !important;
}
.uk-text-success{
  color: @success !important;
}
.uk-button{
  &.uk-button-gold{
    background-color: @gold;
    color: #fff;
  }
}
.uk-input,
.uk-select{
  background-color: #fff;
  border: 2px solid @gold;
  padding: 0 15px;
  font-size: 14px;
  height: 40px;
  &:focus{
    border-color: @gold;
  }
  &[readonly]{
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
}
.uk-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmklEQVQ4T83TuRHCMBSE4c9NQE7GUQRHByQUQF0UQEIHHEUAIQVQBfNm7BkhLAIcYMW7/75LlY6v6ujXL8AOI2zwLLQ2wB4PbEOTtnDGHDcsWyBhPmGKCxY5IARHzFogw9o8wRWrJiAfYgq515VEUCR/mPMKmrZzSISM8+RGXFpjCgntW9npgL/dQUAOtXhd2ky/Dumnb/H/Fl49ax0R15VW+AAAAABJRU5ErkJggg==) !important;
  background-position: 15px 12px !important;
  background-repeat: no-repeat;
}
.uk-form-label{
  font-variation-settings: "wght" 600, "KSHD" 120;
}
.uk-border-rounded-large{
  .border-radius(20px);
}